<tr>
  <td><%= @result_no += 1 %></td>
  <td width="308">
    <span class="table_title">
      <%= link_to document[:title_t], "/catalog/" + document[:id] %>
    </span>
  </td>
  <td width="70">
    <%= document[:creator_t] %>
  </td>
  <td>
    <%= format_date(DateTime.parse(document[:system_create_dt]).to_time) %>
  </td>
  <% if document[:type2_t].first == 'image' %>
      <td width="70" align="center">
        <ul class="thumbnails">
          <li class="nothumbnailmargin">
            <a href="#" class="thumbnail">
              <img src="/file_assets/thumb/<%= document[:id] %>" alt="<%= document[:title] %>">
            </a>
          </li>
        </ul>
      </td>
  <% else %>
      <td>&nbsp;</td>
  <% end %>
</tr>
