<tr>
  <td class="number_td"><%= @result_no += 1 %></td>
  <td class="title_td">
    <span class="table_title">
      <%= link_to document[:title_t][0], "/catalog/" + document[:id] %>
    </span>
  </td>
  <td class="creator_td">
    <% document[:creator_t].each { |creator| %>
     <%= creator %><br/>
    <%} %>
  </td>
  <td class="date_td">
    <%
       date = document[:temporal_t]
       valid_date = Time.new

       unless date.nil?
         if date[0].length() == 4
          date[0] += "-01-01"
         end

         unparsed_date =Chronic.parse(date[0])

         unless unparsed_date.nil?
            valid_date = Time.at(unparsed_date)
         end

       end


    %>
    <%#= valid_date.strftime("%b %d, %Y")  %>
    <%= valid_date.strftime("%Y")  %>
  </td>
  <% if document[:type2_t].first == 'image' %>
      <td class="thumbnail_td" align="center">
        <ul class="thumbnails">
          <li class="nothumbnailmargin">
            <%= link_to image_tag("/file_assets/thumb/"+document[:id] , :alt=>document[:title]), "/catalog/" + document[:id],:class=>"thumbnail" %>
          </li>
        </ul>
      </td>
  <% else %>
      <td class="thumbnail_td">&nbsp;</td>
  <% end %>
</tr>
