<%= form_for(@message_queue) do |f| %>
  <% if @message_queue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message_queue.errors.count, "error") %> prohibited this message_queue from being saved:</h2>

      <ul>
      <% @message_queue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :last_heartbeat %><br />
    <%= f.text_field :last_heartbeat %>
  </div>
  <div class="field">
    <%= f.label :last_ingest %><br />
    <%= f.text_field :last_ingest %>
  </div>
  <div class="field">
    <%= f.label :last_modify %><br />
    <%= f.text_field :last_modify %>
  </div>
  <div class="field">
    <%= f.label :last_purge %><br />
    <%= f.text_field :last_purge %>
  </div>
  <div class="field">
    <%= f.label :last_pid_ingested %><br />
    <%= f.text_field :last_pid_ingested %>
  </div>
  <div class="field">
    <%= f.label :last_pid_purged %><br />
    <%= f.text_field :last_pid_purged %>
  </div>
  <div class="field">
    <%= f.label :last_pid_modified %><br />
    <%= f.text_field :last_pid_modified %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
