<% javascript_includes << ['custom', {:plugin=>:hydra_repository, :media=>"all"}] %>
<% javascript_includes << ["catalog/show", {:plugin=>:hydra_repository, :media=>"all"}] %>
<%
   title = Tufts::RCRMethods.title(@document_fedora)
   dates = Tufts::RCRMethods.dates(@document_fedora)
%>
        <div class="row">
          <div class="span12">
            <h2><%= title + ((dates.nil? || dates.empty?) ? "" : (", " + dates)) %></h2>
          </div>  <!-- span12 -->
        </div>  <!-- row -->

        <hr>

        <div class="row">
          <div class="span6 offset1">
            <p><%= Tufts::RCRMethods.abstract(@document_fedora)%></p>
            <h4>History of <%= title %></h4>
<% Tufts::RCRMethods.history(@document_fedora).each do |paragraph| %>
            <p><%= paragraph %></p>
<% end %>
            <p><%= Tufts::RCRMethods.structure_or_genealogy(@document_fedora) %></p>
          </div>  <!-- span6 offset1 -->

          <div class="span4 offset1">
            <div class="tooltip-demo well">
              <dl>
                <dd><span class="browntext">Collections</span></dd>
                <ul>
                  <li><a href="#">Boston School of Occupational Therapy, records</a></li>
                  <li><a href="#">Tufts BSOT notes</a></li>
                </ul>
              </dl>

              <dl>
                <dd><span class="browntext">Relationships</span></dd>
                Part of:
                <ul>
                  <li><a href="#">Tufts College (1940-1960)</a></li>
                  <li><a href="#">College of Special Studies (1945-1977)</a></li>
                </ul>
                Succeeded by:
                <ul>
                  <li><a href="#">Department of Occupational Therapy (1960-1960)</a></li>
                </ul>
              </dl>
            </div>  <!-- tooltip-demo well -->
          </div>  <!-- span4 offset1 -->
        </div>  <!-- row -->


        <div class="document_viewer" id="cover_container">
          <%= showMetadataItem("Creator", "creator", :creator) %>
          <%= showMetadataItem("Source", "source2", :source2) %>
          <%= showMetadataItem("Description", "description", :description) %>
          <%= showMetadataItem("Date Created", "dateCreated", :dateCreated) %>
          <%= showMetadataItem("Date Available", "dateAvailable", :dateAvailable) %>
          <%= showMetadataItem("Date Issued", "dateIssued", :dateIssued) %>
          <%= showMetadataItem("Citable URL", "identifier", :identifier) %>
          <%= showMetadataItem("Rights", "rights", :rights) %>
          <%= showMetadataItem("Citation", "bibliographicCitation", :bibliographicCitation) %>
          <%= showMetadataItem("Publisher", "publisher", :publisher) %>
          <%= showMetadataItem("Type", "type2", :type2) %>
          <%= showMetadataItem("Format", "format2", :format2) %>
          <%= showMetadataItem("Person Name", "persname", :persname) %>
          <%= showMetadataItem("Organizations", "corpname", :corpname) %>
          <%= showMetadataItem("Places", "geogname", :geogname) %>
          <%= showMetadataItem("Topics", "subject", :subject) %>
          <%= showMetadataItem("Funder", "funder", :funder) %>
          <%= showMetadataItem("Temporal", "temporal", :temporal) %>
          <%= showMetadataItem("Resolution", "resolution", :resolution) %>
          <%= showMetadataItem("Bit Depth", "bitDepth", :bitDepth) %>
          <%= showMetadataItem("Color Space", "colorSpace", :colorSpace) %>
          <%= showMetadataItem("File Size", "filesize", :filesize) %>
        </div>
        <div>
          <%= showMetadataItemForDatastream("RCR-CONTENT", "Record ID", "recordId", :recordId) %>
          <%= showMetadataItemForDatastream("RCR-CONTENT", "Maintenance Status", "maintenanceStatus", :maintenanceStatus) %>
          <%= showMetadataItemForDatastream("RCR-CONTENT", "Maintenance Agency", "maintenanceAgency", :maintenanceAgency) %>
          <%= showMetadataItemForDatastream("RCR-CONTENT", "Language Declaration", "languageDeclaration", :languageDeclaration) %>
          <%= showMetadataItemForDatastream("RCR-CONTENT", "Convention Declaration", "conventionDeclaration", :conventionDeclaration) %>
          <%= showMetadataItemForDatastream("RCR-CONTENT", "Maintenance History", "maintenanceHistory", :maintenanceHistory) %>
          <%= showMetadataItemForDatastream("RCR-CONTENT", "Sources", "sources", :sources) %>
          <%= showMetadataItemForDatastream("RCR-CONTENT", "Identity", "identity", :identity) %>
          <%= showMetadataItemForDatastream("RCR-CONTENT", "Description", "description", :description) %>
          <%= showMetadataItemForDatastream("RCR-CONTENT", "Biographical History", "biogHist", :biogHist) %>
          <%= showMetadataItemForDatastream("RCR-CONTENT", "Structure or Genealogy", "structureOrGenealogy", :structureOrGenealogy) %>
          <%= showMetadataItemForDatastream("RCR-CONTENT", "CPF Relation", "cpfRelation", :cpfRelation) %>
          <%= showMetadataItemForDatastream("RCR-CONTENT", "Resource Relation", "resourceRelation", :resourceRelation) %>
       </div>
