<% @page_title = application_name + " Search Results" %>
<% extra_head_content << render_opensearch_response_metadata.html_safe %>

<!-- LEFT SIDE/ FOR FLUID COLUMN TITLE ROW -->
<div class="row-fluid">
  <div class="span12">
  </div>

  <!-- nested row LEFT -->
  <div class="row-fluid">

    <%= render :partial => 'facet_nav' %>
    <!-- nested Fluid RIGHT -->
    <div class="row">
      <!-- MAIN CONTENT AREA -->
      <div class="row">
      <%= render :partial => 'did_you_mean' %>
      <%= render 'constraints', :localized_params => params %>
      <div class="span9">

        <h2>Search Results</h2>
        <div class="pageEntriesInfo">
          <%= render_pagination_info @response, :entry_name => 'item' %>
          <% if false %>
          <%= link_to "start over", catalog_index_path, :id => "startOverLink" %>
          <% end %>
        </div>
        <br/>

        <%= render 'sort_and_per_page' %>
        <% if false %>
        <%= render 'results_pagination' %>
        <% end %>
        <%= render :partial => 'document_list', :response => 'rsolr_response' %>



        <%= render 'results_pagination' %>
      </div>
    </div>

    </div>

  </div>
</div>





