<%
    series, series_level = Tufts::EADMethods.get_series(@document_fedora, @item_id)
    series_title, series_physdesc, series_scopecontents = Tufts::EADMethods.get_series_info(series)
    series_items = Tufts::EADMethods.get_series_items(series)
    series_access_and_use = Tufts::EADMethods.get_series_access_and_use(series)

    collection_title = Tufts::EADMethods.title(@document_fedora)
    series_full_title = "Series " + series_level + ": " + series_title
    @page_title = series_full_title + " - " + application_name
%>


<div class="row">
  <div class="span12">
    <a href="<%= Tufts::EADMethods.finding_aid_url(@document_fedora) %>"><i class="icon-arrow-left"></i><%= collection_title %></a> > <%= series_full_title %>
  </div>
  <div class="span12">
    <h2><%= series_title %></h2>
  </div>
</div>

<hr>

<div class="row">
  <div class="span3" id="floating_table_of_contents_column">
    <div class="EAD_TOC" id="floating_table_of_contents">
      <h6>On this page:</h6>
      <ul class="nav nav-tabs nav-stacked">
        <li><a href="#series_overview">Series Overview</a></li>
<%  if !series_items.empty? %>
        <li><a href="#detailed_contents_list">Detailed Contents List</a></li>
<%  end %>
<%  if !series_access_and_use.empty? %>
        <li><a href="#access_and_use">Access and Use</a></li>
<%  end %>
      </ul>
    </div>
    <div>  <!-- placeholder div to maintain containing column width when TOC becomes fixed -->
      &nbsp;
    </div>
  </div>

  <div class="span6" id="series_overview">
    <p>
      This series is part of <a href="<%= Tufts::EADMethods.collection_url(@document_fedora)%>"><%= collection_title %></a>
      <br>
      <%= series_physdesc %>
    </p>

<%  series_scopecontents.each do |paragraph| %>
    <p><%= raw paragraph %></p>
<%  end %>
  </div>

  <div class="span3 ">
    <div class="tooltip-demo well">
      <a href="#"><h5>View Online Materials<i class="icon-arrow-right margintoparrow"></i></h5></a>
      <p><a href="#">Contact DCA</a> to view materials that are not online.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="span9 offset3">
    <h4 id="detailed_contents_list">Detailed Contents List</h4>
    <br> 
    <table id = "theTable" cellpadding="0" cellspacing="0" class="table" width="679px" style="border:0">
      <thead>
        <tr class="table_options">
          <td colspan="5">
            <div class="left" style="margin-bottom: 2px">
              <button class="btn btn-mini" onclick="displayAll(true)">expand all folders</button>
              <button class="btn btn-mini" onclick="displayAll(false)">close all folders</button>
            </div>
          </td>
        </tr>

        <tr class="table_header">
          <td class="collapse_td">&nbsp;</td>
          <td class="active" valign="bottom">Title</td>
          <td class="locator_td" valign="bottom"><a href="#"></a></td>
          <td class="id_td"  align="left" valign="bottom">&nbsp;</td>
          <td class="availableonline_td" align="center" valign="bottom">Available Online</td>
        </tr>
      </thead>

<%
    row = 2
    series_items.each do |series_item|
      row_s = row.to_s
      series_title, series_labels, series_values, available_online, thumbnail, next_level_items = Tufts::EADMethods.get_series_item_info(series_item)
      expand_collapse = (next_level_items.nil? || next_level_items.empty? ? "&nbsp;" : "<a href=\"javascript:toggleDisplay('img" + row_s + "', " + (row + 1).to_s + ", " + (row + next_level_items.size).to_s + ");\"><img id=\"img" + row_s + "\" src=\"/assets/img/button_collapse.png\" width=\"11\" height=\"11\" alt=\"collapse\" /></a>")
%>
      <tr class="folderRow">           <!-- folderRow is not for styling purposes - that might be hacky... -->
        <td class="collapse_td"><%= raw expand_collapse %></td>
        <td class="table_title"><%= raw series_title %></td>
        <td class="smalltext locator_td"><%= raw series_labels %></td>
        <td class="smalltext id_td" align="left"><%= raw series_values %></td>
<%
      if thumbnail.nil? || thumbnail.empty?
        if available_online
%>
        <td align="center" class="availableonline_td"><center><i class="icon-ok"></i></center></td>
<%      else %>
        <td align="center" class="availableonline_td">&nbsp</td>
<%
        end
      else
%>
        <td align="center" class="availableonline_td">
          <center>
            <ul class="thumbnails">
              <li class="nothumbnailmargin"><a href="#" class="thumbnail"><img src="/file_assets/thumb/<%= thumbnail %>" alt=""/></a></li>
            </ul>
          </center>
        </td>
<%    end %>
      </tr>
<%
      next_level_items.each do |next_level_item|
        series_title, series_labels, series_values, available_online, thumbnail = Tufts::EADMethods.get_series_item_info(next_level_item)
%>
      <tr>
        <td class="collapse_td">&nbsp;</td>
        <td class="table_title indent"><%= raw series_title %></td>
        <td class="smalltext locator_td"><%= raw series_labels %></td>
        <td class="smalltext id_td" align="left"><%= raw series_values %></td>
<%      if thumbnail.nil? || thumbnail.empty? %>
        <td align="center" class="availableonline_td">&nbsp</td>
<%      else %>
        <td align="center" class="availableonline_td">
          <center>
            <ul class="thumbnails">
              <li class="nothumbnailmargin"><a href="#" class="thumbnail"><img src="/file_assets/thumb/<%= thumbnail %>" alt=""/></a></li>
            </ul>
          </center>
        </td>
<%      end %>
      </tr>
<%
        row += 1
      end
      row += 1
    end
%>
    </table>

<%  if !series_access_and_use.empty? %>
    <h4 id="access_and_use">Access and Use</h4>
<%    series_access_and_use.each do |paragraph| %>
    <p><%= raw paragraph %></p>
<%
      end
    end
%>

    <br>
  </div>
</div>

<script language="javascript">

$(window).scroll(handleTOC);
$(window).resize(handleTOC);

function handleTOC(eventObj) {
    var column_top = $('#floating_table_of_contents_column').position().top;
    var window_top = $(window).scrollTop();
    var toc_top = window_top - column_top;

    if ((eventObj.type == "resize") || (toc_top < 0)) {
      // resizing, or page is scrolled up to the point at which TOC should move with page
      $('#floating_table_of_contents').css('position', 'relative');
      $('#floating_table_of_contents').css('left', '0px');

      if (eventObj.type == "resize") {
        if (toc_top < 0) {
          // resizing with page scrolled up, so TOC should be at top of column
          $('#floating_table_of_contents').css('top', '0px');
        } else {
          // resizing with page scrolled down, so TOC should be pushed down in column
          $('#floating_table_of_contents').css('top', toc_top);
        }
      }
    } else {
      // page is scrolled down to the point at which TOC should stick at top
      $('#floating_table_of_contents').css('position', 'fixed');
      $('#floating_table_of_contents').css('left', $('#floating_table_of_contents_column').offset().left);
      $('#floating_table_of_contents').css('top', '0px');
    }
}

function toggleDisplay(imgName, firstRow, lastRow) {
  var img = document.getElementById(imgName);
  var table = document.getElementById("theTable");
  var rows = table.rows;
  var display = (img.src.indexOf("button_expand.png") != -1);
  var imgSrc = (display ? "/assets/img/button_collapse.png" : "/assets/img/button_expand.png");
  var rowDisplay = (display ? "" : "none");
  var rowIndex;

  img.src = imgSrc;

  for (rowIndex = firstRow; rowIndex <= lastRow; rowIndex++) {
    rows[rowIndex].style.display = rowDisplay;
  }
}

function displayAll(display) {
  var table = document.getElementById("theTable");
  var rows = table.rows;
  var imgSrcCurrent = (display ? "button_expand.png" : "button_collapse.png");
  var imgSrc = (display ? "button_collapse.png" : "button_expand.png");
  var rowDisplay = (display ? "" : "none");
  var rowIndex;
  var rowCount = rows.length;

  for (rowIndex = 0; rowIndex < rowCount; rowIndex++) {
    var row = rows[rowIndex];

    if (row.className == "table_options" || row.className == "table_header") {
      // do nothing
    } else if (row.className == "folderRow") {
      var cellInnerHTML = row.cells[0].innerHTML;

      // This is super hacky:
      row.cells[0].innerHTML = cellInnerHTML.replace(imgSrcCurrent, imgSrc);
    } else {
      row.style.display = rowDisplay;
    }
  }
}

$(document).ready(displayAll(false));

</script>
