<div class="tabbable ">
  <ul class="nav nav-tabs ebook_tabs">

    <li <%= @current_action == 'show' ? 'class=active' : '' %>><a href="#3" data-toggle="tab">Info</a></li>
    <li <%= @current_action == 'teireader' ? 'class=active' : '' %>><a href="#1" data-toggle="tab">Table of Contents</a></li>
    <% if false %>
        <li><a href="#2" data-toggle="tab">Search Results (7)</a></li>
    <% end %>
  </ul>

  <div class="tab-content ">
    <div class="tab-pane <%= @current_action == 'teireader' ? 'active' : '' %> ebook_content" id="1">
      <%= render :partial => 'tufts_teis/toc', :locals => {:metadata => metadata,:toc_results => toc_results} %>
    </div>
    <% if false %>
        <div class="tab-pane ebook_content" id="2">
          <%= render :partial => 'tufts_teis/results', :locals => {:metadata => metadata} %>
        </div>
    <% end %>

    <div class="tab-pane <%= @current_action == 'show' ? 'active' : '' %> ebook_content" id="3">
      <%= render :partial => 'shared/metadata_pane', :locals => {:metadata => metadata} %>
    </div>


  </div>
</div>