<tr class="document <%= cycle("even","odd") %>">
  <td class="document_title"><%= link_to document[:id], "/catalog/" + document[:id]  %></td>
  <td class="document_author"><%= document[:creator_t] %></td>
  <td class="document_work"><%= document[:title_t] %></td>
  <td class="document_date"><%= format_date(DateTime.parse(document[:system_create_dt]).to_time) %></td>
  <td class="document_files"> 1</td>
  <td class="document_files">&nbsp;</td>
</tr>

