    <div class="row">
      <div class="span12">
        <h2><%= raw Tufts::EADMethods.title(@document_fedora) %></h2>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="span6">
        <h4>This collection has:</h4>
        <p><%= raw Tufts::EADMethods.physdesc_split(@document_fedora) %></p>
        <p><%= raw Tufts::EADMethods.abstract(@document_fedora) %></p>
      </div>

      <div class="span5 offset1">
        <div class="tooltip-demo well">
          <a href="/catalog?f[collection_id_facet][]=<%= params[:id] %>"><h5>View Online Materials <i class="icon-arrow-right margintoparrow"></i></h5></a>
          <p>Some of the materials from this collection are available online. Not all materials have necessarily been digitized. <a href="<%= raw Tufts::EADMethods.finding_aid_url(@document_fedora) %>">View the finding aid</a> or <a href="/contact">contact DCA</a> for more information.</p>
          <br>
          <a href="<%= raw Tufts::EADMethods.finding_aid_url(@document_fedora) %>"><h5>View Finding Aid <i class="icon-arrow-right margintoparrow"></i></h5></a>
          <p>A finding aid is a description of a collection of archival material, which will help you discover what records are available for research. It provides information about a collection, the collection's creators, and an outline of the collection's contents.  <a href="/about/finding_aids">Learn more about finding aids</a>.</p>
        </div>

        <br>
        <br>
      </div>
    </div>
