<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>bookreader demo</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bookreader/BookReader.css"/>
    <!-- Custom CSS overrides -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/bookreader/bookreader_custom.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/imageviewer/BookReaderImageViewer.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <%= javascript_include_tag "bookreader/jquery-ui-1.8.5.custom.min" %>
    <%= javascript_include_tag 'bookreader/dragscrollable' %>
    <%= javascript_include_tag 'bookreader/jquery.colorbox-min' %>
    <%= javascript_include_tag 'bookreader/jquery.ui.ipad' %>
    <%= javascript_include_tag 'bookreader/jquery.bt.min' %>
    <script type="text/javascript" src="/javascripts/bookreader/BookReader.js"></script>
</head>
<body style="background-color: #939598;">
<%= yield %>




</body>
</html>
